body {
    font-family: Arial, sans-serif;
    background: #f7f7f7;
    text-align: center;
    margin: 0;
    padding: 20px;
}

header {
    background: #4f46e5;
    color: white;
    padding: 20px;
    border-radius: 8px;
}

.content {
    margin-top: 30px;
}

img {
    width: 250px;
    border-radius: 8px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
}
